p {
    color: #3b5998;
    font-size: 2vw;
}

.body {
    background-color: #dfe3ee;
}

.conten {
    background-color: #f7f7f7;
    margin: 0 auto;
    width: 90%;
}

h1 {
    font-weight: bold;
    font-size: 6vw;
}

h2 {
    font-weight: bold;
    font-size: 2.6vw;
}

h3 {
    font-weight: bold;
    font-size: 2.4vw;
}

.h3 {
    color: #3b5998;
}

.h4 {
    color: #8B9DC3;
}

h4 {
    font-weight: bold;
    font-size: 2.2vw;
}

hr {
    font-weight: bold;
    margin: 0;
    padding: 0;
}

header {
    color: white;
    padding: 25px;
    text-align: center;
    background-color: #3b5998;
}

nav a {
    text-align: center;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #8b9dc3;
}

nav li {
    margin: 0 auto;
    float: left;
}

nav li a {
    text-align: center;
    color: #3b5998;
    padding: 10px;
    display: block;
    text-decoration: none;
}

nav li a:hover {
    background-color: #3b5998;
    color: white;
    text-decoration: underline white;
}

a {
    font-size: 3vw;
}

.Prim {
    width: 95%;
    margin: 0 auto;
}

.Datos {
    margin: 10px;
    text-align: right;
    display: inline-table;
}

.Datos2 {
    text-align: left;
    display: inline-table;
}

.Datos2 a {
    font-weight: bold;
    font-size: 2vw;
    color: blue;
    text-decoration: none;
}

.Datos2 a:hover {
    text-decoration: underline blue;
}

.Experiencia {
    width: 95%;
    margin: 0 auto;
}

.Formacion {
    width: 95%;
    margin: 0 auto;
}

.Aptitudes {
    width: 95%;
    margin: 0 auto;
}

.Idiomas {
    width: 95%;
    margin: 0 auto;
}

.Habilidades {
    width: 95%;
    margin: 0 auto;
}

footer {
    width: 95%;
    margin: 0 auto;
    text-align: center;
}

td {
    padding: 0.25vw 0.5vw 0.25vw 0.5vw;
}

table {
    width: 100%;
    margin: 0 auto;
}

.Idiomas {
    margin: 0 2.5% 0 2.5%;
    width: 60%;
}
