body {
	font-size: 100%;
	background-color: lightgrey;
}
div{

}
h1{
	font-size: 2em;
	margin-top:0px;
	margin-bottom:0px;
	text-align: center;
	color: #3b5998;
}
h2{
	font-size: 1.8em;
	margin-top:0px;
	margin-bottom:0px;
	color: #8b9dc3;
}
h3{
	font-size: 1.6em;
	margin-top:0px;
	margin-bottom:0px;
	color: #8b9dc3;
}
h4{
	font-size: 1.4em;
	margin-top:0px;
	margin-bottom:0px;
}
h5{
	font-size: 0.8m;
	margin-top:0px;
	margin-bottom:0px;
}
p{
	font-size: 1em;
	margin-top:0px;
	margin-bottom:0px;
}
table, th, td {
	border: 1px solid black;
}
table{
	border-collapse: collapse;
	width: 90%;
	align: center;
}
.table{
	padding: 0px;
}
.table .title{
	color: #3b5998;
	text-align: center;
}
.table .text{

}
.table .right{
	text-align: right;
}
